header {
  position: sticky;
  top: 0;
  padding: var(--space-3) var(--space-4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--invert-background-color);
  color: var(--invert-main-text-color);
}
header .logo {
  display: inline-flex;
  align-items: center;
  gap: var(--space-3);
}
header .logo__image {
  width: 3.2rem;
  height: 3.2rem;
}
header .menu {
  display: inline-flex;
  align-items: center;
  gap: var(--space-2);
}
header .menu a, header .menu span {
  font-size: 1.2rem;
}
header .menu__link:link, header .menu__link:visited {
  color: var(--invert-link-basic-color);
}
header .menu__link:focus, header .menu__link:hover, header .menu__link:active {
  color: var(--invert-link-active-color);
}
header .menu__separator {
  color: var(--invert-secondary-text-color);
}
