header {
	position: sticky;
	top: 0;
	padding: var(--space-3) var(--space-4);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #201816;
	color: #d9c7b3;
}

nav a,
nav a:link,
nav a:visited {
	color: #d9c7b3;
}

nav a:focus,
nav a:hover,
nav a:active {
	color: #f0a14d;
}

.logo,
.menu__links {
	display: inline-flex;
	align-items: center;
}

.logo {
	gap: var(--space-3);
}

.logo img {
	width: 3.2rem;
	height: 3.2rem;
}

.menu__links {
	gap: var(--space-2);
}

.header__text {
	margin: 0;
}

header h3 {
	color: #5f514c;
}
