body {
  background-color: #e8e7e5;
  color: #364440;
  margin: 2em;
  font-family: "Gotham Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

div.img {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

img {
  width: 12em;
  height: auto;
}

a {
  color: #336397;
  text-decoration: none;
}

a:hover {
  color: #ce883d;
  text-decoration: underline;
}
