html {
  scroll-behavior: smooth;
  width: 100%;
  min-width: 840px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d9c7b3;
  color: #201816;
  font-family: "SB Sans Display", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

section {
  scroll-margin-top: 139px;
  margin: 2.5em 0;
}

h1,
h2 {
  font-family: "MV-crooker", sans-serif;
}

h2 {
  margin-bottom: 0.5em;
}

header,
footer {
  background-color: #201816;
  color: #d9c7b3;
  padding: 1.2em 2em;
}

main {
  margin: 2.5em 4em;
}

a,
a:link,
a:visited {
  color: #39496f;
  text-decoration: none;
}

a:focus,
a:hover,
a:active {
  color: #a86319;
  text-decoration: underline;
}

img {
  width: 12em;
  height: auto;
}

span.secondary {
  color: #3f332f;
  font-size: 0.8em;
}
