footer {
	padding: var(--space-2) var(--space-4);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--invert-background-color);
	color: var(--invert-main-text-color);

	p {
		font-size: 0.5rem;
	}
}
