.works__container {
	padding: var(--space-5) var(--space-6);
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-3);

	.works__card {
		flex: 1 1 auto;
		height: 250px;

		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}
}
