#intro {
	padding: var(--space-5) var(--space-6);
}

#binomial_theorem {
	padding: var(--space-5) var(--space-6);
}

#tragicomedy {
	padding: var(--space-5) var(--space-6);
}

#entropy {
	padding: var(--space-5) var(--space-6);
}
