#social_media {
	display: flex;
	flex-direction: column;
	gap: var(--space-4);
	padding: var(--space-5) var(--space-6);
}

.social_media__container {
	display: flex;
	flex-direction: column;
	gap: var(--space-2);
}

.social_media__card {
	display: flex;
	align-items: center;
	gap: var(--space-2);
}

.social_media__card img {
	height: 30px;
	width: 30px;
	margin: 2px;
}

.ocial_media__container {
	margin: 1em 0;
}
